/* ============================ theme-menu ============================ */

@keyframes headerArrow {
  0% {
    transform: translateX(-4px);
  }

  100% {
    transform: translateX(4px);
  }
}

/* ============================ card__icon-button => Иконка сердца ============================ */

.like-icon:hover .core {
  fill: var(--accent-color, #000);
  transition: fill 0.3s linear;
}

.like-icon:hover .main-body {
  fill: var(--accent-color, #000);
  transition: fill 0.3s linear 0.05s;
}

.like-icon:active .core {
  fill: var(--heart-icon, red);
  transition: fill 0.3s linear;
}

.like-icon:active .main-body {
  fill: var(--heart-icon, red);
  transition: fill 0.3s linear 0.05s;
}

.like-icon.is-liked {
  animation: heart-big 0.3s ease-in alternate 0.1s;
}

@keyframes heart-big {
  to {
    transform: scale(1.5);
  }
}

.like-icon.is-liked .core {
  fill: var(--heart-icon, red);
  transition: fill 0.3s linear;
}

.like-icon.is-liked .main-body {
  fill: var(--heart-icon, red);
  transition: fill 0.3s linear 0.05s;
}

.like-icon.is-liked .contour {
  fill: var(--heart-icon, red);
  transition: fill 0.3s linear 0.06s;
}

.like-icon.is-liked .sparks {
  animation: hidden-heart 0.3s ease-in alternate 0.3s;
}

@keyframes hidden-heart {
  to {
    opacity: 1;
  }
}