/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

/* Genegal */

.page {
  /* background-image: repeating-linear-gradient(
    to right,
    rgb(211, 211, 211),
    rgb(211, 211, 211) 2px,
    rgb(211 211 211 / 0) 2px,
    rgb(211 211 211 / 0) 4px
    ); */
  /* background-image: linear-gradient(180deg, #E7E7E7 0%, #1A1A1A 100%);; */

  padding-block: 102px;
  color: var(--accent-color, #000);
  background-color: var(--background-page, #fff);
  min-inline-size: 320px;
  min-block-size: 100dvb;
}

.element {
  
}

/* Header */

.header {
  text-align: center;
}

.header__container {
  width: min(100%, 696px);
  margin: 0 auto 107px;
  border: 1px solid var(--accent-color);
  padding: 25px;
  background-color: var(--themes-background, #FFF);

}

.header__title {
  margin: 136px 0 20px;
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
}

.header__subtitle {
  margin-bottom: 25px;
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
}

.theme-menu {

}

.header__theme-menu {

}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.theme-menu__item button:disabled {
  content: "▶";
}

.theme-menu__button {
  border: none;
  background-color: transparent;
}

/* Main */

.main {

}

.memories {
  width: min(100%, 696px);
  margin: 0 auto;
}

.memories__list {
  display: flex;
  flex-direction: column;
  gap: 54px;
  margin-bottom: 54px;
}

.memories__list-item {
  align-self: center;
}

.card {
  position: relative;
  border: 1px solid var(--accent-color);
  background-color: var(--themes-background, #FFF);
}

.card__title {
  border-bottom: 1px solid var(--accent-color);

}

.card__img {
  width: min(100%, 694px);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.decor {
  position: absolute;
  top: 50px;
  right: 26px;
  opacity: 0.5;
  color: var(--accent-color, #000);
  font-family: 'Press Start 2P';
  font-weight: 400;
  font-size: 14px;
  font-style: normal;
  line-height: normal;
  text-transform: uppercase;
  text-shadow:
  -1px 0 var(--strong-text, #FFF), 
  0 1px var(--strong-text, #FFF), 
  1px 0 var(--strong-text, #FFF), 
  0 -1px var(--strong-text, #FFF);
  mix-blend-mode: hard-light;
}

@supports((text-stroke: 1px #000000) or (-webkit-text-stroke: 1px #000000)) {
  .decor {
      text-shadow: none;
      -webkit-text-stroke: 1px var(--strong-text, #FFF);
      text-stroke: 1px var(--strong-text, #FFF);
  }
} 

.card__container {
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 25px;
}

.card__container-button {
  display: flex;
  margin-left: auto;
}

.like-icon {
  margin-right: 12px;
}

.card__like-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 130px;
  height: 38px;
  border: 1px solid var(--accent-color);
  padding: 9px 17px;
  background-color: transparent;
}

.button__text {

}

.memories__button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: transparent;
}

dialog {
  position: relative;
  border: 1px solid var(--accent-color);
  width: min(100%, 357px);
  color: var(--accent-color, #000);
  background-color: var(--background-page, #fff);
}

dialog::backdrop {
  opacity: 0.75;
  background-color: #000;
}

.close {
  margin-top: 30px;
  color: var(--accent-color, #000);
  background-color: var(--background-page, #fff);
  border: 1px solid var(--accent-color);
  width: 100%;
  padding: 9px 17px;
  text-transform: uppercase;
}
