
html.theme-light {
  --background-page: #FFF;
  --accent-color: #000;
  --themes-background: #fff;
  --strong-text: #FFF;
  --font-weight-text: 400;
  --font-weight-title: 700;
  --gradient-start: #e7e7e7;
  --gradient-end: #1a1a1a;
  --gradient: #d3d3d3;
}

@media (prefers-color-scheme: light) {
  :root {
    --background-page: #FFF;
    --accent-color: #000;
    --themes-background: #fff;
    --strong-text: #FFF;
    --font-weight-text: 400;
    --font-weight-title: 700;
    --gradient-start: #e7e7e7;
    --gradient-end: #1a1a1a;
    --gradient: #d3d3d3;
  }
}

html.theme-dark {
  --background-page: #000;
  --accent-color: #00CC14;
  --themes-background: #000;
  --strong-text: #000;
  --font-weight-text: 465;
  --font-weight-title: 785;
  --gradient-start: #007f0c;
  --gradient-end: #004306;
  --gradient: #000;
}

@media (prefers-color-scheme: dark) {
  :root {
  --background-page: #000;
  --accent-color: #00CC14;
  --themes-background: #000;
  --strong-text: #000;
  --font-weight-text: 465;
  --font-weight-title: 785;
  --gradient-start: #007f0c;
  --gradient-end: #004306;
  --gradient: #000;
  }
}
