:root {
  --background-page: #FFF;
  --accent-color: #000;
  --themes-background: #fff;
  --strong-text: #FFF;
  --font-family-decor: 'Press Start 2P';
  --font-family-text: 'Inter', 'Arial', 'Helvetica', 'monospace', sans-serif;
  --font-weight-text: 400;
  --font-weight-title: 700;
  --gradient-start: #e7e7e7;
  --gradient-end: #1a1a1a;
  --gradient: #d3d3d3;
  --heart-icon: red;
  --hover-button: #fff;
}
